@use '../mixins' as *;
@use '../fluid' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 25px 15px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  gap: 15px;
  border: none;
  outline: 0;
  &__icon {
    height: 30px;
    width: 30px;
    flex-shrink: 0;
  }
  &--red {
    background: linear-gradient(170.18deg, #eb3e3e 11.63%, #901ad5 188.75%);
  }
  &--purple {
    background: linear-gradient(134.84deg, #946bff 0%, var(--violet-800) 100%);
  }
}
