@use '../vars' as *;
@use '../fluid' as *;
.select {
  &__button {
    display: flex;
    align-items: center;
    gap: rem(4px);
    color: $white;
  }
  &__button-text {
    font-size: rem(12px);
    font-weight: 600;
    line-height: 105%;
    letter-spacing: 0.01em;
  }
  &__button-icon {
    height: rem(6px);
    width: rem(6px);
  }
}
