@use '../vars' as *;

.is-scroll-locked {
  overflow: hidden;
  overscroll-behavior: none;
}

.is-hidden {
  display: none !important;
}

.is-visible {
  display: block !important;
}

.is-muted {
  color: $color-muted !important;
}
