<section class="extras" data-header-theme="brand" aria-label="Дополнительные возможности Warpoint">
  <div class="extras__container container">
    <div class="extras__grid">
      <article class="extras__item extras__item--certificate" data-reveal>
        <div class="extras__image-container">
          <img class="extras__image" src="img/sert.png" width="433" height="251" alt="Подарочные сертификаты Warpoint"
            loading="lazy" decoding="async" />
        </div>
        <div class="extras__content">
          <h2 class="extras__title">Подарочные<br />сертификаты</h2>
          <p class="extras__description">Не ищите идеальный подарок. Мы уже все придумали</p>
          <button class="extras__button btn btn--l btn--red-outline" type="button">
            Купить сертификат
          </button>
        </div>

      </article>

      <article class="extras__item extras__item--merch" data-reveal>
        <div class="extras__image-container">
          <img class="extras__image" src="img/merch.png" width="433" height="251" alt="Подарочные сертификаты Warpoint"
            loading="lazy" decoding="async" />
        </div>
        <div class="extras__content">
          <h2 class="extras__title">Фирменный<br />мерч</h2>
          <p class="extras__description">
            Каталог нашей атрибутики. Станьте частью виртуального мира Warpoint
          </p>
          <button class="extras__button btn btn--l btn--red-outline" type="button">
            В каталог
          </button>
        </div>


      </article>

      <article class="extras__item extras__item--compact" data-reveal>
        <div class="extras__content">
          <h2 class="extras__title">Бонусная<br />программа</h2>
          <p class="extras__description">
            Становитесь участником нашей системы лояльности и получайте игры бонусами
          </p>
          <button class="extras__button btn btn--l btn--red-outline" type="button">
            Подробнее
          </button>
        </div>
      </article>

      <article class="extras__item extras__item--compact" data-reveal>
        <div class="extras__content">
          <h2 class="extras__title">Киберспортивные<br />турниры</h2>
          <p class="extras__description">
            Расписание турниров. Примите участие в самых масштабных VR-соревнованиях
          </p>
          <button class="extras__button btn btn--l btn--red-outline" type="button">
            Подробнее
          </button>
        </div>
      </article>
    </div>
  </div>
</section>
