<header class="header">
  <div class="container header__container">
    <a class="header__logo" href="/">Warpoint</a>
    <nav class="header__nav nav" aria-label="Основная навигация">
      <a class="nav__link is-active" href="/">Главная</a>
      <a class="nav__link" href="#ui-kit-components">Компоненты</a>
      <a class="nav__link" href="#ui-kit-colors">Цвета</a>
    </nav>
    <button class="header__burger burger" type="button" aria-label="Открыть меню">
      <span class="burger__line" aria-hidden="true"></span>
    </button>
  </div>
</header>
