<div class="preloader" data-preloader aria-hidden="true">
  <div class="preloader__logo" data-preloader-logo>
    <img
      class="preloader__outline"
      src="/img/big_logo.svg"
      width="520"
      height="88"
      alt=""
      fetchpriority="high"
    />
    <span class="preloader__fill" data-preloader-fill>
      <img
        class="preloader__filled-logo preloader__filled-logo--black"
        src="/img/logo.svg"
        width="215"
        height="36"
        alt=""
        fetchpriority="high"
      />
      <img
        class="preloader__filled-logo preloader__filled-logo--brand"
        src="/img/logo.svg"
        width="215"
        height="36"
        alt=""
        fetchpriority="high"
      />
    </span>
  </div>
</div>

<noscript>
  <style>
    html.is-preloading,
    html.is-preloading body {
      overflow: auto !important;
    }

    .preloader {
      display: none !important;
    }
  </style>
</noscript>
